<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/stylesheets/mystyle.css">
    <script src="static/scripts/jquery-3.3.1.min.js"></script>
    <script src="static/scripts/myscript.js"></script>
    <title>背單字網站</title>



</head>
<body>

  <form action="/action_page.php">
    <table>
        <tr>
          <th><h1>English</h1></th>
          <th><h1>中文</h1></th> 
          <th><input type="submit" value="新增單字"></th>
          <th><input type="submit" value="刪除單字"></th>
        </tr>

        <tr>
          <td>
              <input type="text" name="" id="english">
          </td>

          <td>
            <input type="text" name="" id="chinese">
          </td>


        </tr>

      </table>
    </form> 
</body>
</html>